<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug">
  <targets>
    <target xsi:type="File"
            name="File"
            archiveNumbering="Rolling"
            archiveAboveSize="10000000"
            maxArchiveFiles="30"
            concurrentWrites="true"
            fileName="c:\\Logs\\Applications\\HubbardParkApi\\HubbardParkApi.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} -- ${message}${onexception:${newline}EXCEPTION\\: ${exception:format=ToString}}" />

    <target xsi:type="ColoredConsole"
            name="Console"
            useDefaultRowHighlightingRules="true"
            layout="${longdate} | ${level:uppercase=true} | ${logger} -- ${message}${onexception:${newline}EXCEPTION\\: ${exception:format=ToString}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="File" />
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>
</nlog>
